.footer {
    background-color: $darkBlue;
    color: #fff;
    padding: 2.5rem;
    text-align: center;

    a {
        color: #fff;

    }
    
    &__logo {
        padding: 1.875rem;
    }
    &__social {
        margin-bottom: 1.875rem;
        
    }
    &__loinks {

        &.col1 {
            
        }
        &.col2 {
            
        }
    }
    &__cta {

        a.button {

        }

    }

    &__copyright {

    }

}














